// Specific CSS for your home-page
body {
  background-color: black;
  color: aliceblue;
  background-image: url("https://images.pexels.com/photos/1270184/pexels-photo-1270184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}

.btn:hover {
  text-decoration: none;
}
