// Import page-specific CSS files here.
@import "home";

.container {
  text-align: center;
}

.container h2 {
  color: azure;
}

body {
  background-image: url("https://www.pexels.com/photo/grayscale-photography-of-human-skull-1270184/");
  background-size: cover;
}
