// Import page-specific CSS files here.
@import "home";

.container {
  text-align: center;
}

.container h2 {
  color: azure;
}

body {
  background-image: url("https://images.pexels.com/photos/1270184/pexels-photo-1270184.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

a {
  text-decoration: none;
}

.index-header {
  margin: 30px;
}
