.left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  width: 55%;
  height: 550px;
  margin-top: 56px;
  padding-top: 32px;
  border-radius: 16px;
  border: white;
  background-color: gray;
}

.profile-avatar {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-card-top {
  display: flex;
  justify-content: center;
}

.profile-card-top h3 {
  padding: 16px;
}

.profile-content {
  width: 50%;
  padding-top: 32px;
  padding-right: 24px;
}
