<div class= "container mt-3">
  <h1>My bookings</h1>
  <% @bookings.each do |booking| %>
    <div>
      <li>
          <%= booking.tour.name %>
          <%= booking.start_date %>
          <%= booking.end_date %>
          <%= booking.tour.price %>
      </li>
    </div>
  <% end %>
</div>
