<div class='container-fluid d-flex'>
  <div class='profile-details w-50 p-3'>
    <div class='profile-avatar'>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM48_hxzadcDjOzn9N2lEXy1MVHmTV4LHe2w&usqp=CAU" alt="" class="">
    </div>

    <div>
    </div>

    <div>
    </div>
  </div>

  <div class='profile-content w-50 p-3'>
    <h1>Hi, I'm <%= @user.first_name %></h1>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ex sed quae natus modi repellendus commodi ut libero laudantium earum numquam, expedita cumque cupiditate voluptatibus magni ea et necessitatibus a?</h3>
  </div>
</div>
