<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfjkxrkvj/image/upload/v1676965338/jessica-rigollot-uMpAhrKpUCg-unsplash_g4ng7l.jpg);">
  <div class="container">
    <h1>Have the fright <strong>of your Life</strong> at <strong>Haunted Tours</strong>!</h1>
    <p>Experience the greatest, most horrific tours of Japan.</p>
  </div>
</div>
