<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfjkxrkvj/image/upload/v1676965338/jessica-rigollot-uMpAhrKpUCg-unsplash_g4ng7l.jpg);">
  <div class="container d-flex justify-content-center" style="margin-right:auto;margin-left:auto">
    <div style="text-align:start">
      <h1>Have the fright <strong>of your Life</strong> at <strong>Haunted Tours</strong>!</h1>
      <p>Experience the greatest, most horrific tours of Japan.</p>
      <%= link_to tours_path do %>
        <div class="btn white-shadow" style="background-color:grey;border-radius:50px">See our Haunted Tours</div>
      <% end %>
    </div>
  </div>
</div>
