<% reviews.order('time DESC').each do |review| %>
  <div class='review'>
    <h4><%= review.user.first_name %></h4>
    <p><%= review.nice_date %></p>
    <p><%= review.comment %></p>
  </div>
<% end %>
