 <div class="container">
  <h2>Our most popular tours</h2>
    <div class="cards">
      <div class="card">
        <img src="https://images.pexels.com/photos/158229/lost-places-pforphoto-leave-factory-158229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="abandoned building">
        <h5>Abandoned Building</h5>
        <p>It was once used for tortures. Ready to meet the victims?</p>
      </div>

      <div class="card">
        <img src="" alt="">
        <h3></h3>
        <p>.</p>
      </div>

      <div class="card">
        <img src="" alt="">
        <h3>Adventurous vacations</h3>
        <p>Discover hidden gems everywhere in the world.</p>
      </div>
    </div>
</div>
