<div class='container'>
  <div class='tour-header'>
   <h1><%= @tour.name %></h1>
  <p>tour review</p>
  </div>

  <div class='tour-images'>

  </div>

  <div class='tour-content'>
<%= render 'bookings/form', tour: @tour, booking: Booking.new %>
  </div>

<div>
<%= render 'bookings/form', tour: @tour, booking: Booking.new %>
</div>
