  <%= render 'shared/banner' %>
<div class="container-fluid d-flex justify-content-evenly m-0 p-0 pt-3" style="background-color:black">
  <div class="card3">
    <h3>About Us</h3>
    <p>We're here and ready to bring the fear! Haunted tours Japan is your one stop shop for all things horrific sight-seeing! Come join us as a customer, and tour the famous
      locales of Japan. Journey to haunted samurai battlefields, yuki-onna infested mountain resorts, graveyards of the damned, and even
      the sewer hideouts of serial killers! Rather be a host, than hosted? Sign up and lead some neer-do-wells and neer-do-evils around as
      a guide! Load up your haunted tour and itinerary, and let's get scaring!</p>
  </div>
</div>
