.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 64px;
  font-family: 'Special Elite', cursive;
  font-size: larger;

}

#tombstone-head {
  position: relative;
  display: inline-block;
  top: 10px;
}

.card {
  position: relative;
  width: 280px;
  height: 350px;
  background-color: #d5d5d5;
  color: black;
  margin: 5px;
  border-top-right-radius: 70px;
  border-top-left-radius: 70px;
  border: black;
}

.favorite-logo {
  position: absolute;
  top: 10px;
  right: 45px;
  z-index: 1;
}

.logo-size {
  width: 30px;
  height: 30px;
}

.card img {
  background-size: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: absolute;
}

.card h2 {
  font-size: 40px;
}

.card-info-top {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 10px;
  padding-inline-start: 20px;
  margin-top: 8px;
}

.card-info-bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 8px;
  margin-top: 8px;
  margin-left: 10px;
}

#bg-image {
  background-size: cover;
}
