.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-bottom: 4px;
}

.navbar-lewagon h2{
  // padding-right: 48%;
  margin-right: auto;
  margin-top: 3px;

}
.min-max-content {
  min-width: max-content;
}
