// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'lightgallery/scss/lightgallery';

// Your CSS partials
@import "components/tour-grid";
@import "components/index";
@import "pages/index";
@import "pages/profile_page";
@import "components/card";
@import "components/banner";
@import "components/card-category";

@import "components/stretch-links";
@import "components/my-font";
@import "components/card-product";
@import "components/form";
