// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'lightgallery/scss/lightgallery';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/banner";
@import "components/card-category";

@import "components/stretch-links"

